<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NLRC_Inventory.My.MySettings.Main" connectionString="Server=127.0.0.1;Port=3307;Database=main_nlrc_db;Uid=root;Pwd=;" />
        <add name="NLRC_Inventory.My.MySettings.Intranet" connectionString="Server=127.0.0.1;Port=3307;Database=db_nlrc_intranet;Uid=root;Pwd=;" />
    </connectionStrings>
</configuration>
